In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.shape

(19735, 29)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [6]:
x = df['T2']
y = df['T6']

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(x_train.values.reshape(-1,1), y_train.values.reshape(-1,1))
prediction = lin_reg.predict(x_test.values.reshape(-1,1))

In [9]:
#number12
from sklearn.metrics import r2_score
r2_score = r2_score(prediction, y_test)
r2_score

0.44472180702992303

In [10]:
#number13
x = df.drop(['date', 'lights', 'Appliances'], axis=1)
y = df['Appliances']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_scale = scaler.fit_transform(x)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scale, y, test_size=0.3, random_state=42)

from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(x_train, y_train)
prediction = lin_reg.predict(x_test)

from sklearn.metrics import mean_absolute_error
mean_absolute = mean_absolute_error(prediction, y_test)
round(mean_absolute,2)

53.64

In [11]:
#number 14 residual sum
df_residual = pd.DataFrame({'Actual': y_test, 'Predicted':prediction})
residual = np.sum(np.square(df_residual['Predicted'] - df_residual['Actual']))
print(' residual sum of squares is : ', round(residual,2))

 residual sum of squares is :  51918501.21

In [12]:
#number15 Root mean square
from sklearn.metrics import mean_squared_error
RMSE = np.sqrt(mean_squared_error(prediction, y_test))
round(RMSE,2)

93.64

In [13]:
#number16
from sklearn.metrics import r2_score
r2_score = r2_score(prediction, y_test)
round(r2_score,2)

-4.41

In [14]:
x.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [15]:
#number17
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', 'col_name']
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(lin_reg, x,x)
linear_model_weights

       Features    col_name
0          RH_2 -488.666805
1         T_out -344.389845
2            T2 -252.710373
3            T9 -203.236627
4          RH_8 -168.627161
5        RH_out  -83.107599
6          RH_7  -47.736592
7          RH_9  -42.586339
8            T5  -16.752822
9            T1   -3.510725
10          rv2    0.824005
11          rv1    0.824005
12  Press_mm_hg    7.318079
13           T7   11.041091
14   Visibility   13.168072
15         RH_5   17.126194
16         RH_4   28.232781
17           T4   31.009668
18    Windspeed   31.225948
19         RH_6   40.712058
20         RH_3  102.771652
21           T8  109.134698
22    Tdewpoint  126.000776
23           T6  252.974652
24           T3  310.971037
25         RH_1  592.294862

In [16]:
#number17
print("From above values Least and Highest weights are RH_2 and RH_1")

From above values Least and Highest weights are RH_2 and RH_1

In [17]:
#number19 Train lasso regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

lasso_weights_df = get_weights_df(lasso_reg, x,x)
lasso_weights_df

       Features    col_name
0          RH_2 -484.565333
1         T_out -332.571693
2            T2 -249.468798
3            T9 -202.502545
4          RH_8 -168.695476
5        RH_out  -78.000385
6          RH_7  -47.389094
7          RH_9  -42.455100
8            T5  -17.118723
9            T1   -4.147124
10          rv2    0.000000
11          rv1    1.631174
12  Press_mm_hg    7.282154
13           T7   10.346809
14   Visibility   13.078319
15         RH_5   17.103321
16         RH_4   27.445905
17           T4   30.345197
18    Windspeed   31.389514
19         RH_6   40.092883
20         RH_3  102.204611
21           T8  108.883423
22    Tdewpoint  118.598030
23           T6  250.080979
24           T3  310.210384
25         RH_1  590.599827

In [18]:
#number20
from sklearn.metrics import mean_squared_error
lasso_pred = lasso_reg.predict(x_test)
RMSE_lasso = np.sqrt(mean_squared_error(lasso_pred, y_test))
round(RMSE_lasso,3)

93.641